* {
 font-size: 100%;
 font-family: Arial;
}


.header_table{
  table-layout: auto;
  width: 100%;
  vertical-align: top;
}


.header_table  td{
  padding-left: 0px;
  padding-right: 0px;
}


.main_table  td{
  padding-left: 0px;
  padding-right: 50px;
  table-layout: auto;
  height: 50px;
  vertical-align: top;
}


.cv_name{
  font-size: xx-large;
  font-weight: bold;
}


.cv_jobs{
  font-weight: bold;
}


img{
  display: block;
}


p{
  margin: 3px;
}


.dates{
  margin-top: 0px;
  margin-bottom: 6px;
  font-size: small;
  font-style: italic;
  color: grey;

}


.list{
  margin-bottom: 10px;
}

body{
    height:297mm;
    width:210mm;
    /*margin: 5mm 16mm 27mm 16mm;*/
    margin-left: auto;
    margin-right: auto;
}

@page { 
 size: a4;
 margin: 0.5cm  
}
